  body {
    background-image: url('/img/icon/profile.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 45px;
}
h2 {
    text-align: center;
    color: #333;
}
.container {
    max-width: 600px;
    margin: 10px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.section {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}
input:focus {
	border-color: #007bff; /* Blue border on focus */
	outline: none; 
}
button {
    background-color: #007bff;
    color: white; 
    border: none; 
    cursor: pointer; 
    height: 40px; 
    width: 100%;
    font-size: 16px; 
    border-radius: 5px; 
}
button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.toggle-password {
    cursor: pointer;
    color: #007bff; 
    margin-bottom: 10px;
    display: inline-block;
}