body {
    background-image: url('/img/icon/feedback1.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    color: black;
    font-size: 14px;
    margin: 0; 
    padding: 70px 20px 20px; 
}
h1, h2 {
    color: #343a40;
    text-align: center;
}
table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
	font-weight: bold; 
}
th, td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #dee2e6;
}
th {
  
	padding: 15px; 
    background-color: #007bff; 
    color: white; 
    text-align: center; 
    font-size: 1.2em; 
	  border: 1px solid #ccc; /* Light gray border */
}

tr:hover {
    background-color: #f1f1f1;
}
.star {
    font-size: 20px; 
    color: gold;
}
.star.filled {
    color: gold; 
}
.star {
    color: lightgray; 
}
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px; 
}
a {
    text-decoration: none; 
    color: inherit; 
}