body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	background-color: #e9ecef;
}
.menu-bar {
    background: #ffffff;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.menu-icons {
    display: flex; 
    align-items: center; 
}

.menu-icons a {
    margin-left: 20px; 
}

.icon {
    width: 30px; 
    height: 30px; 
}

.search-container {
    display: flex; 
    align-items: center; 
    margin: 0 auto; 
	width: 400px;
}

.search-container input {
    padding: 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.search-container button {
    border: none;
    background: transparent; 
    cursor: pointer; 
}

.add-to-cart-icon {
    display: flex; 
    gap: 20px;
	margin-right: 60px;
}
.welcome-message {
    text-align: center; 
    margin: 0; 
    color: white; 
    background-color: black; 
    width: 100%; 
    padding: 5px 0; 
    box-sizing: border-box; /* Ensure padding is included in the width */
    font-size: 1em;
}
header {
    background: #ffffff; 
    padding: 20px;
    margin-top: 60px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.logo-container {
    display: flex; 
    align-items: center; 
}

.text-container {
    margin-left: 20px; 
}

.text-container h1, .text-container h2 {
    margin: 0; 
}

/* Loginpage desgin */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* On top of other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with transparency */
}

.modal-content {
    background-color: #ffffff; 
    margin: 10% auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.modal-content h2 {
    text-align: center;
    color:  #007bff; 
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 95%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px; 
}
.modal input:focus {
    border-color: #007bff; /* Blue border on focus */
    outline: none; /* Remove default outline */
}
.login-button, .register-button, .toggle-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue background */
    color: white;
    cursor: pointer;
    width: 100%; 
}

.login-button:hover, .register-button:hover, .toggle-button:hover {
    background-color: #0056b3; 
}
.toggle-password {
    cursor: pointer;
	color: #007bff; /* Color for the toggle text */
    margin-bottom: 10px;
    display: inline-block;
    }
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.featured-products {
    text-align: center; 
    margin-top: 10px; 
}

.featured-title {
    font-size: 2em; 
    margin-bottom: 10px; 
}

.slider-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.slider {
    position: relative; 
    flex: 2; /* Take more space for the large image */
}

.slider img {
    width: 85%; 
    height: 350px; 
}

.slider-button {
    background: none; 
    border: none; 
    font-size: 2em; 
    cursor: pointer; 
    padding: 10px; 
}

a {
    text-decoration: none; 
    color: inherit;
}
/* best-selling desgin */	
.best-selling {
    text-align: center; 
    margin-top: 20px; 
}

.best-selling-title {
    font-size: 2em; 
    margin-bottom: 10px; 
}

.best-selling-products {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    justify-items: center; 
    margin: 20px auto; 
    max-width: 90%; 
}

.product {
    background-color: white;
    position: relative; 
    width: 250px; 
    margin: 5px; 
    cursor: pointer; 
    transition: transform 0.3s; /* Smooth transition for hover effect */
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.product:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}


.product img {
    width: 100%; 
    height: 250px; 
}
.product-info {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
}

.product-info p {
    margin: 5px 0; 
}

.product-info p strong {
    display: block; /* Make the product name a block element */
    font-weight: bold; 
}

.product-info p:not(:first-child) {
    font-weight: normal; /* Normal weight for price */
}

.add-to-cart {
    background-color: #28a745; /* Green background for button */
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer; 
    margin-top: 10px;
	margin-bottom: 10px;
    display: inline-block; 
}

.add-to-cart:hover {
    background-color: #218838; /* Darker green on hover */
}

.buy-product {
    background-color: #ffff00; /* Yellow background for the button */
    color: black; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px;
    margin-top: 5px; 
    margin-bottom: 10px;
    cursor: pointer; 
}

.buy-product:hover {
    color: white; 
    background-color: #8B8000; /* Darker yellow on hover */
}
/* category desgin */	
   .furniture-category {
    text-align: center;
    margin-top: 20px; 
}

.furniture-title {
    font-size: 2em; 
    margin-bottom: 20px; 
}

.furniture-images {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
}

.furniture-item {
    cursor: pointer; 
    text-align: center; 
    transition: transform 0.3s; 
}

.furniture-item:hover {
    transform: scale(1.05); 
}

.furniture-item img {
    width: 95%; 
    height: 270px; 
    border-radius: 10px;
}

.furniture-item-name {
    margin-top: 5px; 
    font-size: 1.2em; 
}		
/* Table Styles for cart page */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
	font-weight: bold; /* Make the text bold */
}

th, td {
	margin: 0px;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

th {
    background-color: #007bff;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}
.shipping-process {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns items to the left */
    margin-top: 20px; 
}

.shipping-process .grand-total {
    align-self: flex-end; /* Aligns grand total to the right */
    margin-bottom: 10px; 
}

.shipping-process .buttons {
    display: flex;
    justify-content: space-between; 
    width: 100%; 
}

.shipping-process p {
    margin-right: 75px; 
    font-size: 1.2em; 
}

.shipping-process button {
    margin: 10px 40px;  
    padding: 10px 20px; 
    background-color: #4CAF50; /* Green background */
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.shipping-process button:hover {
    background-color: #45a049; /* Darker green on hover */
}
input[type="number"] {
    width: 50px; 
    text-align: center; 
}
	
/*for order history*/
.no-orders-message {
   color: red; 
   font-weight: bold; 
   margin-top: 20px; 
 }
 .view-button {
    background-color: #007bff; /* Blue background */
    color: white; 
    padding: 8px 12px; 
    text-decoration: none; 
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth transition */
}

.view-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.cancel-button {
    background-color: #ff0000; /* Blue background */
    color: black; 
    padding: 9px 12px; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
	border: 0;
}
.cancel-button:hover {
    text-decoration: underline; /
}