body {
    background-image: url('/img/icon/profile.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    color: black;
    font-size: 14px;
    margin: 0;
    padding: 35px;
}
.icon-container {
    display: flex;
    gap: 20px;
	margin-right: 60px;
}

.profile-form {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    width: 80%; 
    max-width: 900px; 
}

.profile-form label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

.profile-form input {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.profile-form input:focus {
    border-color: #007bff; 
    outline: none; 
}
  .toggle-password {
            cursor: pointer;
            color: #007bff; 
            margin-bottom: 10px;
            display: inline-block;
        }

.profile-form button {
    background-color: #007bff; /* Blue background */
    color: white; 
    border: none; 
    cursor: pointer; 
    height: 40px; 
    width: 100%; 
    font-size: 16px; 
    border-radius: 5px; 
}

.profile-form button:hover {
    background-color: #0056b3; 
}

.logout-button {
    background-color: red; 
    color: white; 
    padding: 5px 10px; 
    border: none; 
    border-radius: 4px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}
.logout-button:hover {
    background-color: darkred; 
}