body {
    background-image: url('/img/icon/feedback1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    color: black;
    font-size: 14px;
    margin: 0; 
    padding: 40px 20px 20px; 
}

.feedback-form-container {
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin: 30px auto; 
    width: 80%; 
    max-width: 600px; 
}

.feedback-form-container label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}

.feedback-form-container select,
.feedback-form-container textarea {
    width: calc(100% - 20px);
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    transition: border-color 0.3s;
}

.feedback-form-container select:focus,
.feedback-form-container textarea:focus {
    border-color: #007bff; /* Blue border on focus */
    outline: none; 
}

.feedback-form-container button {
    background-color: #007bff; /* Blue background */
    color: white; 
    border: none; 
    cursor: pointer; 
    height: 40px; 
    width: 100%; 
    font-size: 16px; 
    border-radius: 5px; 
    margin-top: 10px; 
}

.feedback-form-container button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.star-rating {
    direction: rtl; 
    display: flex; 
    justify-content: center; 
}

.star-rating input {
    display: none;
}

.star {
    font-size: 30px; 
    color: lightgray; 
    cursor: pointer; 
}

.star-rating input:checked ~ .star {
    color: gold; 
}

.star:hover,
.star:hover ~ .star {
    color: gold; 
}
/* Responsive Styles */
@media (max-width: 768px) {
    .feedback-form-container {
        width: 90%; 
    }
}
.star2 {
    font-size: 30px; 
    color: lightgray; 
   
}
.star2.filled {
    color: gold; 
}