body {
    font-family: Arial, sans-serif; 
    margin: 100px 0 0;
    background-color: #e9ecef; 
}
.products {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
}
.product {
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
    padding: 10px; 
    text-align: center; 
    flex: 1 1 calc(23% - 20px); /* 4 products per row with space */
    box-sizing: border-box; 
}
/* Responsive Styles */
@media (max-width: 768px) {
    .product {
        flex: 1 1 calc(48% - 20px); /* 2 products per row on medium screens */
    }
}

@media (max-width: 480px) {
    .product {
        flex: 1 1 100%; /* 1 product per row on small screens */
    }
}
.msg {
    text-align: center; 
    font-size: 18px; 
    color: #333; 
}