body {
    background-image: url('/img/icon/ship.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    color: black;
    font-size: 14px;
    margin: 0; 
    padding: 0; 
}
.container {
    background: white;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	max-width: 500px; 
	margin: 5px auto; 
}

h2 {
	text-align: center;
	color: #333;
}
.form-group {
	margin-bottom: 15px;
}
.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea,
.form-group select {
	width: calc(100% - 20px); 
	padding: 10px; 
	border: 1px solid #ced4da; 
	border-radius: 5px; 
	box-sizing: border-box; 
}

.form-group textarea {
    resize: vertical; /* Allow vertical resizing */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px; 
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; 
}

th {
	background-color: #007bff; 
}

.confirm-order {
	background-color: #007bff; 
	color: white; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	padding: 10px 20px; 
	font-size: 16px; 
	margin-top: 20px; 
	transition: background-color 0.3s; /* Smooth transition for hover effect */
	width: 100%;
}

.confirm-order:hover {
	background-color: #0056b3; /* Darker blue on hover */
}

.modal {
	display: none; 
	position: fixed; 
	z-index: 1000; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 50%; 
	text-align: center; 
	}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal img {
	width: 100%; 
	max-width: 300px;
}
.back-button {
	position: fixed; 
	top: 5px; 
	left: 2px; 
	background-color: #007bff;
	color: white; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
	padding: 10px 15px; 
	z-index: 1000; 
}

.back-button:hover {
	background-color: #0056b3; /* Darker blue on hover */
}